# DuckDB database
data/*

# Python virtual environment
.venv/

# Python bytecode
__pycache__/
*.pyc

# IDE-specific files
.idea/
.vscode/
src/baliza.egg-info/
uv.lock
repomix-output.*
data/catalog.yml
