# DuckDB database
/data/baliza.duckdb

# Python virtual environment
.venv/

# Python bytecode
__pycache__/
*.pyc

# IDE-specific files
.idea/
.vscode/
src/baliza.egg-info/
uv.lock
repomix-output.xml
data/catalog.yml
