interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20250101&dataFinal=20250103&pagina=1&tamanhoPagina=10
  response:
    body:
      string: '{"data": [{"numeroControlePncpCompra": "00394460005887-1-000067/2024", "codigoPaisFornecedor": null, "dataAtualizacao":
        "2025-01-01T00:30:03", "orgaoEntidade": {"cnpj": "00394460005887", "razaoSocial": "MINISTERIO DA ECONOMIA", "poderId":
        "E", "esferaId": "F"}, "dataAssinatura": "2024-12-31", "dataVigenciaInicio": "2024-12-31", "dataVigenciaFim": "2025-01-30",
        "niFornecedor": "06121879000106", "tipoPessoa": "PJ", "processo": "10905720159202490", "orgaoSubRogado": null, "unidadeOrgao":
        {"ufNome": "Paraná", "codigoUnidade": "900100", "ufSigla": "PR", "municipioNome": "Curitiba", "nomeUnidade": "Superintendência
        Regional da Receita Federal do Brasil da 9ª Região Fiscal", "codigoIbge": "4106902"}, "unidadeSubRogada": null, "nomeRazaoSocialFornecedor":
        "IMPERIO TRANSPORTES TURISTICOS LTDA", "informacaoComplementar": null, "numeroContratoEmpenho": "0900100/3166", "categoriaProcesso":
        {"id": 11, "nome": "Alienação de bens móveis/imóveis"}, "anoContrato": 2024, "tipoContrato": {"id": 1, "nome": "Contrato
        (termo inicial)"}, "sequencialContrato": 7096, "dataPublicacaoPncp": "2025-01-01T00:30:03", "niFornecedorSubContratado":
        null, "nomeFornecedorSubContratado": null, "dataAtualizacaoGlobal": "2025-01-01T00:30:03", "numeroControlePNCP": "00394460005887-2-007096/2024",
        "receita": true, "numeroParcelas": 1, "numeroRetificacao": 0, "tipoPessoaSubContratada": null, "objetoContrato": "Alienação
        de mercadorias apreendidas pela Receita Federal", "valorInicial": 7000.0, "valorParcela": 7000.0, "valorGlobal": 7000.0,
        "valorAcumulado": null, "identificadorCipi": null, "urlCipi": null, "usuarioNome": "Ministério da Fazenda / Receita
        Federal"}, {"numeroControlePncpCompra": "00394460005887-1-000062/2024", "codigoPaisFornecedor": null, "dataAtualizacao":
        "2025-01-01T00:30:04", "orgaoEntidade": {"cnpj": "00394460005887", "razaoSocial": "MINISTERIO DA ECONOMIA", "poderId":
        "E", "esferaId": "F"}, "dataAssinatura": "2024-12-31", "dataVigenciaInicio": "2024-12-31", "dataVigenciaFim": "2025-01-30",
        "niFornecedor": "95755756520", "tipoPessoa": "PF", "processo": "130421[...]
