interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao?dataInicial=20250101&dataFinal=20250103&codigoModalidadeContratacao=6&codigoMunicipioIbge=3550308&pagina=1&tamanhoPagina=10
  response:
    body:
      string: '{"data": [{"dataAtualizacao": "2025-01-02T09:04:20", "orgaoEntidade": {"cnpj": "62070362000106", "razaoSocial":
        "(UO) ESP-CIA.DO METROPOLIT DE SAO PAULO-METRO", "poderId": "E", "esferaId": "E"}, "anoCompra": 2024, "sequencialCompra":
        586, "numeroCompra": "90597", "processo": "10021391", "objetoCompra": "Fornecimento de válvulas hidráulicas.", "orgaoSubRogado":
        null, "unidadeOrgao": {"ufNome": "São Paulo", "codigoUnidade": "373301", "ufSigla": "SP", "municipioNome": "São Paulo",
        "nomeUnidade": "ESP-CIA. METROPOLITANA DE SAO PAULO-METRO", "codigoIbge": "3550308"}, "unidadeSubRogada": null, "valorTotalHomologado":
        null, "srp": false, "dataInclusao": "2025-01-02T09:04:20", "amparoLegal": {"codigo": 1, "nome": "Lei 14.133/2021,
        Art. 28, I", "descricao": "pregão: modalidade de licitação obrigatória para aquisição de bens e serviços comuns"},
        "dataAberturaProposta": "2025-01-03T08:00:00", "dataEncerramentoProposta": "2025-01-21T09:00:00", "informacaoComplementar":
        "A aquisição deverá ser feita por grupo, portanto, com orçamento para todos os itens do grupo. Para as respostas de
        esclarecimentos e impugnações deste edital acesse o link: https://cnetmobile.estaleiro.serpro.gov.br/comprasnet-web/public/landing?destino=quadro-informativo&compra=37330105905972024",
        "linkSistemaOrigem": "https://cnetmobile.estaleiro.serpro.gov.br/comprasnet-web/public/landing?destino=acompanhamento-compra&compra=37330105905972024",
        "justificativaPresencial": null, "dataPublicacaoPncp": "2025-01-02T09:04:20", "dataAtualizacaoGlobal": "2025-01-31T10:17:41",
        "numeroControlePNCP": "62070362000106-1-000586/2024", "modalidadeId": 6, "linkProcessoEletronico": null, "modoDisputaId":
        1, "valorTotalEstimado": 0.0, "modalidadeNome": "Pregão - Eletrônico", "modoDisputaNome": "Aberto", "tipoInstrumentoConvocatorioCodigo":
        1, "tipoInstrumentoConvocatorioNome": "Edital", "fontesOrcamentarias": [], "situacaoCompraId": 1, "situacaoCompraNome":
        "Divulgada no PNCP", "usuarioNome": "Compras.gov.br"}, {"dataAtualizacao": "2025-01-02T09:04:52", "orgaoEntidade":
        {"cnpj": "15519361000116", "razaoSocial": "DEPARTAMENTO ESTADUAL DE TRANSITO", "poderId": "E", "esferaId": "E"}, "anoCompra":
        2024, "sequencialCompra": 69, "numeroCompra": "90017", "processo": "14000602908202442", "objetoCompra": "Prestação
        de serviços de manutenção completa de extintores de incêndio, hidrantes e mangueiras, incluindo recargas, testes hidrostáticos
        e instalação de plac[...]
