interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao?dataInicial=20250101&dataFinal=20250103&codigoModalidadeContratacao=6&pagina=1&tamanhoPagina=10
  response:
    body:
      string: '{"data": [{"dataAtualizacao": "2025-01-02T04:11:23", "orgaoEntidade": {"cnpj": "08084014000142", "razaoSocial":
        "MUNICIPIO DE CAMPO GRANDE", "poderId": "N", "esferaId": "M"}, "anoCompra": 2024, "sequencialCompra": 57, "numeroCompra":
        "25", "processo": "24111401", "objetoCompra": "AQUISIÇÃO DE MATERIAIS PERMANENTE DESTINADOS AO DESENVOLVIMENTO DO
        ENSINO FUNDAMENTAL DAS ESCOLAS MUNICIPAIS DE CAMPO GRANDE/RN.", "orgaoSubRogado": null, "unidadeOrgao": {"ufNome":
        "Rio Grande do Norte", "codigoUnidade": "08084014000142", "ufSigla": "RN", "municipioNome": "Campo Grande", "nomeUnidade":
        "Prefeitura", "codigoIbge": "2401305"}, "unidadeSubRogada": null, "valorTotalHomologado": null, "srp": false, "dataInclusao":
        "2025-01-01T04:46:07", "amparoLegal": {"codigo": 1, "nome": "Lei 14.133/2021, Art. 28, I", "descricao": "pregão: modalidade
        de licitação obrigatória para aquisição de bens e serviços comuns"}, "dataAberturaProposta": "2025-01-02T09:00:00",
        "dataEncerramentoProposta": "2025-01-14T09:00:00", "informacaoComplementar": "", "linkSistemaOrigem": "", "justificativaPresencial":
        "", "dataPublicacaoPncp": "2025-01-01T04:46:07", "modalidadeId": 6, "dataAtualizacaoGlobal": "2025-01-02T04:11:29",
        "linkProcessoEletronico": null, "numeroControlePNCP": "08084014000142-1-000057/2024", "modoDisputaId": 1, "valorTotalEstimado":
        151192.18, "modalidadeNome": "Pregão - Eletrônico", "modoDisputaNome": "Aberto", "tipoInstrumentoConvocatorioCodigo":
        1, "tipoInstrumentoConvocatorioNome": "Edital", "fontesOrcamentarias": [], "situacaoCompraId": 1, "situacaoCompraNome":
        "Divulgada no PNCP", "usuarioNome": "TOP DOWN CONSULTORIA LTDA"}, {"dataAtualizacao": "2025-01-14T00:08:30", "orgaoEntidade":
        {"cnpj": "06125389000188", "razaoSocial": "MUNICIPIO DE SAO BERNARDO", "poderId": "N", "esferaId": "M"}, "anoCompra":
        2024, "sequencialCompra": 63, "numeroCompra": "PE SRP 052/2024", "processo": "2024012076/24", "objetoCompra": "REGISTRO
        DE PREÇOS, VISANDO A FUTURA E EVENTUAL CONTRATAÇÃO DE EMPRESA PARA FORNECIMENTO DE LIVROS DIDÁTICOS PARA ATENDIMENTO
        DO MUNICÍPIO DE SÃO BE[...]
