interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20240901&dataFinal=20240930&pagina=1&tamanhoPagina=50
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"00394460005887-1-000035/2024\",\"codigoPaisFornecedor\":null,\"dataAtualizacao\":\"2024-09-01T00:30:08\",\"orgaoEntidade\":{\"cnpj\":\"00394460005887\",\"razaoSocial\":\"MINISTERIO
        DA ECONOMIA\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2024-08-31\",\"dataVigenciaInicio\":\"2024-08-31\",\"dataVigenciaFim\":\"2024-09-30\",\"niFornecedor\":\"75134446849\",\"tipoPessoa\":\"PF\",\"processo\":\"10880747731202493\",\"orgaoSubRogado\":null,\"unidadeOrgao\":{\"ufNome\":\"S\xE3o
        Paulo\",\"codigoUnidade\":\"800100\",\"ufSigla\":\"SP\",\"municipioNome\":\"S\xE3o
        Paulo\",\"nomeUnidade\":\"Superintend\xEAncia Regional da Receita Federal
        do Brasil da 8\xAA Regi\xE3o Fiscal\",\"codigoIbge\":\"3550308\"},\"unidadeSubRogada\":null,\"nomeRazaoSocialFornecedor\":\"OLINTO
        RODRIGUES DE ARRUDA\",\"informacaoComplementar\":null,\"categoriaProcesso\":{\"id\":11,\"nome\":\"Aliena\xE7\xE3o
        de bens m\xF3veis/im\xF3veis\"},\"anoContrato\":2024,\"tipoContrato\":{\"id\":1,\"nome\":\"Contrato
        (termo inicial)\"},\"numeroContratoEmpenho\":\"0800100/0116\",\"sequencialContrato\":3475,\"dataPublicacaoPncp\":\"2024-09-01T00:30:07\",\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"dataAtualizacaoGlobal\":\"2024-09-01T00:30:08\",\"numeroControlePNCP\":\"00394460005887-2-003475/2024\",\"receita\":true,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"Aliena\xE7\xE3o
        de mercadorias apreendidas pela Receita Federal\",\"valorInicial\":30000.0000,\"valorParcela\":30000.0000,\"valorGlobal\":30000.0000,\"valorAcumulado\":null,\"identificadorCipi\":null,\"urlCipi\":null,\"usuarioNome\":\"Minist\xE9rio
        da Fazenda / Receita Federal\"},{\"numeroControlePncpCompra\":\"12075748000132-1-000038/2023\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-09-01T02:15:15\",\"orgaoEntidade\":{\"cnpj\":\"95991071000100\",\"razaoSocial\":\"MUNICIPIO
        DE RIO RUFINO\",\"poderId\":\"N\",\"esferaId\":\"M\"},\"dataAssinatura\":\"2024-08-30\",\"dataVigenciaInicio\":\"2024-08-30\",\"dataVigenciaFim\":\"2025-08-30\",\"niFornecedor\":\"79846465000118\",\"tipoPessoa\":\"PJ\",\"[...]
[...]
