interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20240901&dataFinal=20240930&pagina=1&tamanhoPagina=50
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"00394460005887-1-000035/2024\",\"codigoPaisFornecedor\":null,\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"anoContrato\":2024,\"tipoContrato\":{\"id\":1,\"nome\":\"Contrato
        (termo inicial)\"},\"numeroContratoEmpenho\":\"0800100/0116\",\"dataAssinatura\":\"2024-08-31\",\"dataVigenciaInicio\":\"2024-08-31\",\"dataVigenciaFim\":\"2024-09-30\",\"niFornecedor\":\"75134446849\",\"tipoPessoa\":\"PF\",\"orgaoEntidade\":{\"cnpj\":\"00394460005887\",\"razaoSocial\":\"MINISTERIO
        DA ECONOMIA\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"categoriaProcesso\":{\"id\":11,\"nome\":\"Aliena\xE7\xE3o
        de bens m\xF3veis/im\xF3veis\"},\"dataPublicacaoPncp\":\"2024-09-01T00:30:07\",\"dataAtualizacao\":\"2024-09-01T00:30:08\",\"sequencialContrato\":3475,\"unidadeOrgao\":{\"ufNome\":\"S\xE3o
        Paulo\",\"codigoUnidade\":\"800100\",\"nomeUnidade\":\"Superintend\xEAncia
        Regional da Receita Federal do Brasil da 8\xAA Regi\xE3o Fiscal\",\"ufSigla\":\"SP\",\"municipioNome\":\"S\xE3o
        Paulo\",\"codigoIbge\":\"3550308\"},\"informacaoComplementar\":null,\"processo\":\"10880747731202493\",\"unidadeSubRogada\":null,\"orgaoSubRogado\":null,\"nomeRazaoSocialFornecedor\":\"OLINTO
        RODRIGUES DE ARRUDA\",\"receita\":true,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"Aliena\xE7\xE3o
        de mercadorias apreendidas pela Receita Federal\",\"valorInicial\":30000.0000,\"valorParcela\":30000.0000,\"valorGlobal\":30000.0000,\"valorAcumulado\":null,\"dataAtualizacaoGlobal\":\"2024-09-01T00:30:08\",\"identificadorCipi\":null,\"urlCipi\":null,\"numeroControlePNCP\":\"00394460005887-2-003475/2024\",\"usuarioNome\":\"Minist\xE9rio
        da Fazenda / Receita Federal\"},{\"numeroControlePncpCompra\":\"12075748000132-1-000038/2023\",\"codigoPaisFornecedor\":\"BRA\",\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"anoContrato\":2024,\"tipoContrato\":{\"id\":8,\"nome\":\"Outros\"},\"numeroContratoEmpenho\":\"AF217259\",\"dataAssinatura\":\"2024-08-30\",\"dataVigenciaInicio\":\"2024-08-30\",\"dataVigenciaFim\":\"2025-08-30\",\"niFornecedor\":\"79846465000118\",\"tipoPessoa\":\"PJ\",\"o[...]
[...]
