interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?pagina=1&tamanhoPagina=500&dataInicial=20240101&dataFinal=20240102
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"16888315000157-1-000057/2023\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-01-01T00:00:03\",\"orgaoEntidade\":{\"cnpj\":\"16888315000157\",\"razaoSocial\":\"UNIVERSIDADE
        FEDERAL DOS VALES DO JEQUITINHONHA E MUCURI\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2023-12-29\",\"dataVigenciaInicio\":\"2023-12-29\",\"dataVigenciaFim\":\"2023-12-31\",\"niFornecedor\":\"45769285000168\",\"tipoPessoa\":\"PJ\",\"processo\":\"23086.019182/2023-90\",\"orgaoSubRogado\":null,\"unidadeOrgao\":{\"ufNome\":\"Minas
        Gerais\",\"codigoUnidade\":\"153036\",\"ufSigla\":\"MG\",\"municipioNome\":\"Diamantina\",\"nomeUnidade\":\"UNIV.FED.DOS
        VALES DO JEQUITINHONHA E MUCURI\",\"codigoIbge\":\"3121605\"},\"unidadeSubRogada\":null,\"nomeRazaoSocialFornecedor\":\"REDNOV
        FERRAMENTAS LTDA.\",\"informacaoComplementar\":\"15303605000392023 - UASG
        Minuta: 153036\",\"numeroContratoEmpenho\":\"2023NE001786\",\"categoriaProcesso\":{\"id\":8,\"nome\":\"Servi\xE7os\"},\"anoContrato\":2023,\"tipoContrato\":{\"id\":7,\"nome\":\"Empenho\"},\"sequencialContrato\":637,\"dataPublicacaoPncp\":\"2024-01-01T00:00:02\",\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"dataAtualizacaoGlobal\":\"2025-06-18T14:09:12\",\"numeroControlePNCP\":\"16888315000157-2-000637/2023\",\"receita\":false,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"AQUISI\xC7\xC3O
        DE EQUIPAMENTOS PARA ATENDER A DEMANDA FACULDADE DE CIENCIAS AGR\xC1RIAS.
        HAVENDO DIVERG\xCANCIA ENTRE A DESCRI\xC7\xC3O QUE CONSTA NO EMPENHO (CATMAT)
        E O TERMO DE REFER\xCANCIA, PREVALECER\xC1 ESTE \xDALTIMO. TED 12657/2023.
        TRANSFERENCIA 1AAOHJ. ND: 2550.\",\"valorInicial\":5512.2800,\"valorParcela\":5512.2800,\"valorGlobal\":5512.2800,\"valorAcumulado\":5512.2800,\"identificadorCipi\":null,\"urlCipi\":null,\"usuarioNome\":\"Contratos.gov.br\"},{\"numeroControlePncpCompra\":\"11806275000133-1-000054/2023\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-01-01T00:00:03\",\"orgaoEntidade\":{\"cnpj\":\"11806275000133\",\"razaoSocial\":\"UNIVERSIDADE
        FEDERAL DA INTEGRACAO LATINO-AMERICANA\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2023-12-29\",\"dataVigenciaInicio\":\"2023-12-29\",\"dataVigenciaFim\":\"2023-12-31\",\"niFornecedor\":\"47971509000145\",\"tipoPessoa\":\"PJ\",\"proces[...]
- request:
    body: '{"anonymousId": "9a08b934b3b5b488ebdb4e1995e49076", "event": "pipeline_extract",
      "properties": {"elapsed": 5.144074, "success": false, "destination_name": "duckdb",
      "destination_type": "dlt.destinations.duckdb", "pipeline_name_hash": "YdcopT/GyvAmpTKDI+sD",
      "dataset_name_hash": "ljnB62QNRs6YOz/vu+Mr", "default_schema_name_hash": null,
      "transaction_id": "9658db6a0858f60d28fdffc4e2a581f1", "extract_data": [{"name":
      "rest_api", "data_type": "source"}], "event_category": "pipeline", "event_name":
      "extract"}, "context": {"ci_run": false, "python": "3.11.14", "cpu": 16, "exec_info":
      ["docker"], "os": {"name": "Linux", "version": "4.4.0"}, "library": {"name":
      "dlt", "version": "1.20.0"}, "run_context": "dlt"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://telemetry.scalevector.ai/
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"anonymousId": "9a08b934b3b5b488ebdb4e1995e49076", "event": "pipeline_run",
      "properties": {"elapsed": 5.150428, "success": false, "destination_name": "duckdb",
      "destination_type": "dlt.destinations.duckdb", "pipeline_name_hash": "YdcopT/GyvAmpTKDI+sD",
      "dataset_name_hash": "ljnB62QNRs6YOz/vu+Mr", "default_schema_name_hash": null,
      "transaction_id": "9658db6a0858f60d28fdffc4e2a581f1", "event_category": "pipeline",
      "event_name": "run"}, "context": {"ci_run": false, "python": "3.11.14", "cpu":
      16, "exec_info": ["docker"], "os": {"name": "Linux", "version": "4.4.0"}, "library":
      {"name": "dlt", "version": "1.20.0"}, "run_context": "dlt"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://telemetry.scalevector.ai/
  response:
    body:
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:verify cert failed: verify
        SAN list:TLS_error_end'
    headers:
      content-type:
      - text/plain
    status:
      code: 503
      message: Service Unavailable
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20240101&dataFinal=20240101&pagina=1&tamanhoPagina=500
  response:
    body:
      string: "{\"data\":[{\"codigoPaisFornecedor\":\"BRA\",\"numeroControlePncpCompra\":\"16888315000157-1-000057/2023\",\"dataAtualizacao\":\"2024-01-01T00:00:03\",\"orgaoEntidade\":{\"cnpj\":\"16888315000157\",\"razaoSocial\":\"UNIVERSIDADE
        FEDERAL DOS VALES DO JEQUITINHONHA E MUCURI\",\"pod[...]
