interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20240901&dataFinal=20240930&pagina=1&tamanhoPagina=5
  response:
    body:
      string: "{\"message\":\"Tamanho de p\xE1gina inv\xE1lido\",\"path\":\"/pncp-consulta/v1/contratos\",\"timestamp\":\"2026-01-14T17:04:20.230-02:00\",\"status\":\"400\",\"error\":\"Bad
        Request\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: ''
version: 1
