interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?pagina=1&tamanhoPagina=500&dataInicial=20300101&dataFinal=20300101
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: '{"anonymousId": "0dd9d20713f986902fe297457a37486a", "event": "pipeline_extract",
      "properties": {"elapsed": 0.707032, "success": true, "destination_name": "duckdb",
      "destination_type": "dlt.destinations.duckdb", "pipeline_name_hash": "YdcopT/GyvAmpTKDI+sD",
      "dataset_name_hash": "WYMaZlSmszj7mE+Ijpuo", "default_schema_name_hash": "fkTOrODHHBIZwALikgzg",
      "transaction_id": "5cc629632c94759785ff37a60fb6dc78", "extract_data": [{"name":
      "rest_api", "data_type": "source"}], "event_category": "pipeline", "event_name":
      "extract"}, "context": {"ci_run": false, "python": "3.12.12", "cpu": 4, "exec_info":
      [], "os": {"name": "Linux", "version": "6.8.0"}, "library": {"name": "dlt",
      "version": "1.20.0"}, "run_context": "dlt"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://telemetry.scalevector.ai/
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
