interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?pagina=1&tamanhoPagina=500&dataInicial=20240101&dataFinal=20240102
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"16888315000157-1-000057/2023\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-01-01T00:00:03\",\"orgaoEntidade\":{\"cnpj\":\"16888315000157\",\"razaoSocial\":\"UNIVERSIDADE
        FEDERAL DOS VALES DO JEQUITINHONHA E MUCURI\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2023-12-29\",\"dataVigenciaInicio\":\"2023-12-29\",\"dataVigenciaFim\":\"2023-12-31\",\"niFornecedor\":\"45769285000168\",\"tipoPessoa\":\"PJ\",\"processo\":\"23086.019182/2023-90\",\"orgaoSubRogado\":null,\"unidadeOrgao\":{\"ufNome\":\"Minas
        Gerais\",\"codigoUnidade\":\"153036\",\"ufSigla\":\"MG\",\"municipioNome\":\"Diamantina\",\"nomeUnidade\":\"UNIV.FED.DOS
        VALES DO JEQUITINHONHA E MUCURI\",\"codigoIbge\":\"3121605\"},\"unidadeSubRogada\":null,\"nomeRazaoSocialFornecedor\":\"REDNOV
        FERRAMENTAS LTDA.\",\"informacaoComplementar\":\"15303605000392023 - UASG
        Minuta: 153036\",\"categoriaProcesso\":{\"id\":8,\"nome\":\"Servi\xE7os\"},\"anoContrato\":2023,\"tipoContrato\":{\"id\":7,\"nome\":\"Empenho\"},\"numeroContratoEmpenho\":\"2023NE001786\",\"sequencialContrato\":637,\"dataPublicacaoPncp\":\"2024-01-01T00:00:02\",\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"dataAtualizacaoGlobal\":\"2025-06-18T14:09:12\",\"numeroControlePNCP\":\"16888315000157-2-000637/2023\",\"receita\":false,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"AQUISI\xC7\xC3O
        DE EQUIPAMENTOS PARA ATENDER A DEMANDA FACULDADE DE CIENCIAS AGR\xC1RIAS.
        HAVENDO DIVERG\xCANCIA ENTRE A DESCRI\xC7\xC3O QUE CONSTA NO EMPENHO (CATMAT)
        E O TERMO DE REFER\xCANCIA, PREVALECER\xC1 ESTE \xDALTIMO. TED 12657/2023.
        TRANSFERENCIA 1AAOHJ. ND: 2550.\",\"valorInicial\":5512.2800,\"valorParcela\":5512.2800,\"valorGlobal\":5512.2800,\"valorAcumulado\":5512.2800,\"identificadorCipi\":null,\"urlCipi\":null,\"usuarioNome\":\"Contratos.gov.br\"},{\"numeroControlePncpCompra\":\"11806275000133-1-000054/2023\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-01-01T00:00:03\",\"orgaoEntidade\":{\"cnpj\":\"11806275000133\",\"razaoSocial\":\"UNIVERSIDADE
        FEDERAL DA INTEGRACAO LATINO-AMERICANA\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2023-12-29\",\"dataVigenciaInicio\":\"2023-12-29\",\"dataVigenciaFim\":\"2023-12-31\",\"niFornecedor\":\"47971509000145\",\"tipoPessoa\":\"PJ\",\"proces[...]
[...]
