interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20241001&dataFinal=20241001&pagina=1&tamanhoPagina=10
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"83500603000180-1-000077/2024\",\"codigoPaisFornecedor\":\"BRA\",\"dataAtualizacao\":\"2024-10-01T00:00:41\",\"orgaoEntidade\":{\"cnpj\":\"83500603000180\",\"razaoSocial\":\"ITAJAI
        CAMARA DE VEREADORES\",\"poderId\":\"L\",\"esferaId\":\"M\"},\"dataAssinatura\":\"2024-09-30\",\"dataVigenciaInicio\":\"2024-09-30\",\"dataVigenciaFim\":\"2025-12-29\",\"niFornecedor\":\"02558157000162\",\"tipoPessoa\":\"PJ\",\"processo\":\"17/2024\",\"orgaoSubRogado\":null,\"unidadeOrgao\":{\"ufNome\":\"Santa
        Catarina\",\"codigoUnidade\":\"22\",\"ufSigla\":\"SC\",\"municipioNome\":\"Itaja\xED\",\"nomeUnidade\":\"C\xE2mara
        de Vereadores de Itaja\xED\",\"codigoIbge\":\"4208203\"},\"unidadeSubRogada\":null,\"nomeRazaoSocialFornecedor\":\"TELEFONICA
        BRASIL S/A (VIVO)\",\"informacaoComplementar\":null,\"numeroContratoEmpenho\":\"31/2024\",\"categoriaProcesso\":{\"id\":8,\"nome\":\"Servi\xE7os\"},\"anoContrato\":2024,\"tipoContrato\":{\"id\":1,\"nome\":\"Contrato
        (termo inicial)\"},\"sequencialContrato\":37,\"dataPublicacaoPncp\":\"2024-10-01T00:00:40\",\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"dataAtualizacaoGlobal\":\"2025-09-27T00:00:57\",\"numeroControlePNCP\":\"83500603000180-2-000037/2024\",\"receita\":false,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"CONTRATA\xC7\xC3O
        DE EMPRESA ESPECIALIZADA EM TELECOMUNICA\xC7\xD5ES, PARA PRESTA\xC7\xC3O DE
        SERVI\xC7OS DE TELEFONIA M\xD3VEL PESSOAL (SMP) E LINHAS DE DADOS PARA TR\xC1FEGO
        NA INTERNET.\",\"valorInicial\":7128.0000,\"valorParcela\":7128.0000,\"valorGlobal\":7128.0000,\"valorAcumulado\":null,\"identificadorCipi\":null,\"urlCipi\":null,\"usuarioNome\":\"P\xFAblica
        Tecnologia Ltda.\"},{\"numeroControlePncpCompra\":\"00394460005887-1-000049/2024\",\"codigoPaisFornecedor\":null,\"dataAtualizacao\":\"2024-10-01T00:30:03\",\"orgaoEntidade\":{\"cnpj\":\"00394460005887\",\"razaoSocial\":\"MINISTERIO
        DA ECONOMIA\",\"poderId\":\"E\",\"esferaId\":\"F\"},\"dataAssinatura\":\"2024-09-30\",\"dataVigenciaInicio\":\"2024-09-30\",\"dataVigenciaFim\":\"2024-10-30\",\"niFornecedor\":\"52151061000153\",\"tipoPessoa\":\"PJ\",\"processo\":\"131132[...]
