interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?pagina=1&tamanhoPagina=500&dataInicial=20241005&dataFinal=20241005
  response:
    body:
      string: "{\"data\":[{\"numeroControlePncpCompra\":\"83500603000180-1-000106/2024\",\"codigoPaisFornecedor\":\"BRA\",\"anoContrato\":2024,\"tipoContrato\":{\"id\":1,\"nome\":\"Contrato
        (termo inicial)\"},\"numeroContratoEmpenho\":\"33/2024\",\"dataAssinatura\":\"2024-10-04\",\"dataVigenciaInicio\":\"2024-10-04\",\"dataVigenciaFim\":\"2026-01-03\",\"niFornecedor\":\"25040889000161\",\"tipoPessoa\":\"PJ\",\"orgaoEntidade\":{\"cnpj\":\"83500603000180\",\"razaoSocial\":\"ITAJAI
        CAMARA DE VEREADORES\",\"poderId\":\"L\",\"esferaId\":\"M\"},\"categoriaProcesso\":{\"id\":8,\"nome\":\"Servi\xE7os\"},\"dataPublicacaoPncp\":\"2024-10-05T00:00:49\",\"dataAtualizacao\":\"2024-10-05T00:00:50\",\"sequencialContrato\":38,\"unidadeOrgao\":{\"ufNome\":\"Santa
        Catarina\",\"codigoUnidade\":\"22\",\"nomeUnidade\":\"C\xE2mara de Vereadores
        de Itaja\xED\",\"ufSigla\":\"SC\",\"municipioNome\":\"Itaja\xED\",\"codigoIbge\":\"4208203\"},\"nomeRazaoSocialFornecedor\":\"RIBEIRO
        APOIO ADMINISTRATIVO E COMERCIO LTDA\",\"informacaoComplementar\":null,\"processo\":\"02/2024
        D.E.\",\"unidadeSubRogada\":null,\"orgaoSubRogado\":null,\"niFornecedorSubContratado\":null,\"nomeFornecedorSubContratado\":null,\"receita\":false,\"numeroParcelas\":1,\"numeroRetificacao\":0,\"tipoPessoaSubContratada\":null,\"objetoContrato\":\"LOCA\xC7\xC3O
        DE TERMINAL DE AUTO ATENDIMENTO TOUCHSCREEN COM SISTEMA DE GERA\xC7\xC3O DE
        SENHAS, IMPRESSORA E SUPORTE T\xC9CNICO, CONFORME CONDI\xC7\xD5ES, QUANTIDADES
        E EXIG\xCANCIAS ESTABELECIDAS NO TERMO DE REFER\xCANCIA, PARA ATENDER A DEMANDA
        DA C\xC2MARA DE VEREADORES DE ITAJA\xCD/SC.\",\"valorInicial\":15779.0000,\"valorParcela\":15779.0000,\"valorGlobal\":15779.0000,\"valorAcumulado\":null,\"dataAtualizacaoGlobal\":\"2025-05-31T00:00:58\",\"identificadorCipi\":null,\"urlCipi\":null,\"numeroControlePNCP\":\"83500603000180-2-000038/2024\",\"usuarioNome\":\"P\xFAblica
        Tecnologia Ltda.\"},{\"numeroControlePncpCompra\":\"00394460005887-1-000051/2024\",\"codigoPaisFornecedor\":null,\"anoContrato\":2024,\"tipoContrato\":{\"id\":1,\"nome\":\"Contrato
        (termo inicial)\"},\"numeroContratoEmpenho\":\"0317900/0172\",\"dataAssinatura\":\"2024-10-04\",\"dataVigenciaInicio\":\"2024-10-04\",\"dataVigenciaFim\":\"2024-11-03\",\"niFornecedor\":\"69710382000143\",\"tipoPessoa\":\"PJ\",\"orgaoEntidade\":{\"cnpj\":\"00394460005887\",\"razaoSocial\":[...]
[...]
