interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://pncp.gov.br/api/consulta/v1/contratos?dataInicial=20241015&dataFinal=20241015&pagina=1&tamanhoPagina=5
  response:
    body:
      string: "{\"message\":\"Tamanho de p\xE1gina inv\xE1lido\",\"path\":\"/pncp-consulta/v1/contratos\",\"timestamp\":\"2025-12-17T12:14:13.169-03:00\",\"status\":\"400\",\"error\":\"Bad
        Request\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: ''
version: 1
